*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* ff - font-family */
  --ff-heading: 'Staatliches', cursive;
  --ff-main: 'Palanquin', sans-serif;
  /* bg - background */
  --bg-heading: hsl(218, 17%, 62%);
  --bg-main: hsl(233, 100%, 97%);
  --bg-title: hsl(275, 18%, 79%);
  /* fc - font-color */
  --fc-primary: hsl(0, 0%, 100%);
  --fc-secondary: hsl(274, 84%, 12%);
  /* fs - font-size */
  font-size: 62.5%;
  --fs-heading: 4rem;
  --fs-main: 2rem;
  --img-size: clamp(13.7rem, 1.5rem + 3vw, 21.44rem)
}

body{
  font-family: var(--ff-main);
  color: var(--fc-primary);
  font-size: var(--fs-main);
  background-color: var(--bg-main);
}

.page{
  margin: 0 auto;
  height: 100vh;
}

.logo-wrapper{
  background: var(--bg-heading);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  width: 377px;
}

header img{
  padding: 3.2rem 0;
  width: var(--img-size);
}

header h1{
  background: var(--bg-title);
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  color: var(--fc-heading);
  padding: 0.8rem 0;
  margin-bottom: 2.9rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 100%;
}

header p{
  color: var(--fc-secondary);
  font-family: 'Palanquin';
  font-size: 2rem;
  padding: 1.4rem 4rem 6.3rem;
  line-height: 1.5rem;
  text-align: center;
}

main{
  padding: 1.4rem 3.2rem;
}

.card-wrapper{
  display: grid;
  gap: 3.2rem;
  grid-auto-rows: 25rem 45rem;
  justify-content: center;
}

.card{
  position: relative;
}

.card img{
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 2rem;
  animation-name: down-top;
  animation-fill-mode: forwards;
  animation-duration: 1000ms;
}

.card h2{
  position: absolute;
  right: 1.6rem;
  top: 0;
  font-family: var(--ff-heading);
  font-size: var(--fs-main);
  background: hsla(312, 91%, 96%, 1);
  color: hsla(232, 17%, 35%, 1);
  padding: 0 2.4rem;
  border-radius: 2rem;
  line-height: 3.4rem;
  height: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  animation-name: top-down;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

footer{
  color: #4A4E69;
  text-align: center;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0;
}

footer a{
  text-decoration: none;
  color: #4A4E69;
}

@keyframes top-down{
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes down-top{
  0%{
    opacity: 0;
    transform: translateY(15px);
  }

  100%{
    opacity: 1;
    transform: translateY(-15px);
  }
}

@media (width > 384px){
  .page{
    display: flex;
    height: 100%;
  }

  header{
    background: var(--bg-heading);
    min-width: 377px;
  }

  header p{
    color: var(--fc-heading);
  }

  main{
    padding: 0;
  }
  
  .card-wrapper{
    grid-auto-rows: 25rem;
    grid-template-areas: 
    "A B C"
    "D B E"
    "D F E";
    padding: 64px 98px 0;
  }

  .card-wrapper div:nth-child(1){
    grid-area: A;
  }
  .card-wrapper div:nth-child(2){
    grid-area: B;
  }
  .card-wrapper div:nth-child(3){
    grid-area: C;
  }
  .card-wrapper div:nth-child(4){
    grid-area: D;
  }
  .card-wrapper div:nth-child(5){
    grid-area: E;
  }
  .card-wrapper div:nth-child(6){
    grid-area: F;
  }

  .card h2{
    display: none;
  }

  footer{
    margin: 50px;
    opacity: 100%;
  }
}